@font-face {
    font-family: "PublicPixel";
    src: url("./resources/PublicPixel.otf");
}

body {
    font-family: 'PublicPixel', monospace;
    margin: 0;
    background-color: #1F2937;
}

header {
    background-color:rgb(10, 10, 10);
    display: flex;
    padding: 24px;    
    height: 56px;
    justify-content:flex-end;
    align-items: center;
    gap: 142px;
}

header h1 {
    color: #F9FAF8;
    margin: 0;
    font-size: 32px;    
}


.side-buttons {
    all: unset;
    color: #E5E7EB;
    cursor: pointer;
    font-size: 16px; 
    padding: 32px 18px;
    border-radius: 5px;
}

.side-buttons:hover {
    background-color: #1F2937;
    color:#E5E7EB;
}


#instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: #E5E7EB;
    color:rgb(10, 10, 10);
    top: 88px;
    right: 156px;    
    height: 350px;    
    padding: 20px;
    box-shadow: 5px 5px black;
    border-top: 10px solid #7f93ae;
    border-top-left-radius: 5px;
}

.instructions-active {
    background-color: #7f93ae;
    color: rgb(10, 10, 10);
}

.instructions-active:hover {
    background-color: #7f93ae;
    color: rgb(10, 10, 10);
}

#instructions p {
    margin-bottom: 18px;
}

.tutorial {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tutorial-image {
    padding: 20px;
    width: auto;
    height: 52px;
}

.hidden {
    visibility: hidden;
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    color: #E5E7EB;
    margin: 30px 0px;
    gap: 20px;
}

.game-sides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px ridge #F9FAF8;
    border-radius: 5px;
    width: 450px;
    height: 300px;
}

#player-side {
    border-right: 5px dotted #F9FAF8;
}

#computer-side {
    border-left: 5px dotted #F9FAF8;
}

#player-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 300px;
    border-right: 5px ridge #F9FAF8;
}

.player-hand {
    cursor: pointer;
    width: 60px;    
}

.selected-img {
    width: 150px;
    padding: 10px;    
}

#cpu-selection {
    width: 105px;
    height: 300px;
}

.points-area {
    width: 165px;
    height: 20px;
}

.points {
    font-weight: 700;
    font-size: 18px;   
    opacity: 0;
    position: relative;    
    animation: moving 0.8s 1;
    animation-fill-mode: forwards;
}

@keyframes moving {
    0% {
        opacity: 0;        
        bottom: -15px;
    }
    50% {
        opacity: 1;
        bottom: 25px;
    }

    100% {
        bottom: 45px;
        visibility: hidden;               
    }
}
